apiVersion: v1
kind: Service
metadata:
  name: discovery-service
  namespace: ucrmp-dev
spec:
  type: ClusterIP
  selector:
    app: discovery-service
  ports:
    - port: 8761
      targetPort: 8761
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: discovery-service
  namespace: ucrmp-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: discovery-service
  template:
    metadata:
      labels:
        app: discovery-service
    spec:
      containers:
        - name: discovery-service
          image: sushantc041/ucrmp-discovery-service:v1.0.0
          ports:
            - containerPort: 8761
          # Liveness Probe: Checks if app is alive
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8761
            initialDelaySeconds: 30
            periodSeconds: 10