server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

# --- EUREKA CLIENT CONFIGURATION ---
eureka:
  client:
    service-url:
      defaultZone: http://${DISCOVERY_HOST:localhost}:8761/eureka

# --- JWT CONFIGURATION ---
app:
  jwt:
    secret: ${JWT_SECRET}